@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular weight */
@font-face {
    font-family: 'Ubuntu';
    src: url('/src/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

/* Bold weight */
@font-face {
    font-family: 'Ubuntu';
    src: url('/src/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 600; /* Bold weight */
    font-style: normal;
}

/* Medium weight */
@font-face {
    font-family: 'Ubuntu';
    src: url('/src/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@layer base{
    body{
        @apply font-ubuntu
    }
}

.circle-list-item {
    @apply w-8 h-8 text-[0.75rem] font-light flex items-center justify-center border border-white rounded-full
    hover:bg-lime-200 hover:text-blue-500;
  }

.circle-list-item-selected {
    @apply w-8 h-8 text-[0.75rem] font-light flex items-center justify-center border border-white rounded-full
    bg-lime-200 text-blue-500;
}

.form-header {
    @apply font-bold text-2xl;
}

.form-header-p{
    @apply font-thin text-neutral-400 text-xs my-2;
}

.plan-card{
    @apply flex xs:w-full sm:w-32 p-3 sm:flex-col border rounded-lg 
}

.adds-card{
    @apply inline-flex items-center w-full py-4 border rounded-lg cursor-pointer
}

.plan-card:hover,
.selected {
    @apply outline-indigo-700 border-indigo-700 bg-indigo-50 bg-opacity-40 cursor-pointer;
}

.slide-toggle{
    @apply h-6 w-12 rounded-full border after:absolute after:left-1.5
    after:top-1 after:h-4 after:w-4 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] 
  bg-slate-800 peer-checked:after:translate-x-5 peer-checked:after:border-white peer-focus:ring-green-300
}